samples/name-pronunciation-recorder/sourcecode/CanvasApps/src/cra2f_genericnamepronunciationaudiorecorder_90e5c/pkgs/Wadl/GenericSaveAudioFiletoSPO.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GenericSaveAudioFiletoSPO" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Generic Save Audio File to SPO" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <string name="ManualTriggerInput_Createfile_FileName_def" />
      <number name="ManualTriggerInput_Updatefileproperties_Duration_def" />
      <object name="ManualTriggerInput">
        <property name="Initializevariable_Value" type="string" />
        <property name="Createfile_FileName" type="string" />
        <property name="Updatefileproperties_Duration" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
            <param style="plain" name="Createfile_FileName" path="/Createfile_FileName" type="xs:string" required="true" />
            <param style="plain" name="Updatefileproperties_Duration" path="/Updatefileproperties_Duration" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>