samples/Rijksmuseum/sourcecode/CanvasApps/src/ac_rijksmuseumsampleapp_8d2a1/pkgs/Wadl/RijksmuseumSearchCollection.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="RijksmuseumSearchCollection" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Rijksmuseum Search Collection" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <number name="ManualTriggerInput_number_2_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="number_1" type="number" />
        <property name="number_2" type="number" />
      </object>
      <string name="ResponseActionOutput_items_def_links_def_self_def" />
      <string name="ResponseActionOutput_items_def_links_def_web_def" />
      <object name="ResponseActionOutput_items_def_links_def">
        <property name="self" type="string" />
        <property name="web" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_objectNumber_def" />
      <string name="ResponseActionOutput_items_def_title_def" />
      <boolean name="ResponseActionOutput_items_def_hasImage_def" />
      <string name="ResponseActionOutput_items_def_principalOrFirstMaker_def" />
      <string name="ResponseActionOutput_items_def_longTitle_def" />
      <boolean name="ResponseActionOutput_items_def_showImage_def" />
      <boolean name="ResponseActionOutput_items_def_permitDownload_def" />
      <string name="ResponseActionOutput_items_def_webImage_def_guid_def" />
      <integer name="ResponseActionOutput_items_def_webImage_def_offsetPercentageX_def" />
      <integer name="ResponseActionOutput_items_def_webImage_def_offsetPercentageY_def" />
      <integer name="ResponseActionOutput_items_def_webImage_def_width_def" />
      <integer name="ResponseActionOutput_items_def_webImage_def_height_def" />
      <string name="ResponseActionOutput_items_def_webImage_def_url_def" />
      <object name="ResponseActionOutput_items_def_webImage_def">
        <property name="guid" type="string" />
        <property name="offsetPercentageX" type="integer" />
        <property name="offsetPercentageY" type="integer" />
        <property name="width" type="integer" />
        <property name="height" type="integer" />
        <property name="url" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_headerImage_def_guid_def" />
      <integer name="ResponseActionOutput_items_def_headerImage_def_offsetPercentageX_def" />
      <integer name="ResponseActionOutput_items_def_headerImage_def_offsetPercentageY_def" />
      <integer name="ResponseActionOutput_items_def_headerImage_def_width_def" />
      <integer name="ResponseActionOutput_items_def_headerImage_def_height_def" />
      <string name="ResponseActionOutput_items_def_headerImage_def_url_def" />
      <object name="ResponseActionOutput_items_def_headerImage_def">
        <property name="guid" type="string" />
        <property name="offsetPercentageX" type="integer" />
        <property name="offsetPercentageY" type="integer" />
        <property name="width" type="integer" />
        <property name="height" type="integer" />
        <property name="url" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_productionPlaces_def_items_def" />
      <array type="string" name="ResponseActionOutput_items_def_productionPlaces_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="links" typeRef="ResponseActionOutput_items_def_links_def" />
        <property name="id" type="string" />
        <property name="objectNumber" type="string" />
        <property name="title" type="string" />
        <property name="hasImage" type="boolean" />
        <property name="principalOrFirstMaker" type="string" />
        <property name="longTitle" type="string" />
        <property name="showImage" type="boolean" />
        <property name="permitDownload" type="boolean" />
        <property name="webImage" typeRef="ResponseActionOutput_items_def_webImage_def" />
        <property name="headerImage" typeRef="ResponseActionOutput_items_def_headerImage_def" />
        <property name="productionPlaces" typeRef="ResponseActionOutput_items_def_productionPlaces_def" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Language" />
              <option value="nl" />
              <option value="en" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Principal Maker" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="Results/Page (1-100)" />
            </param>
            <param style="plain" name="number_2" path="/number_2" type="xs:double" required="true">
              <doc title="Century" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>