samples/health-expense/sourcecode/CanvasApps/src/aaryan_healthexpense_45a52/pkgs/Wadl/AzureAutoMLFlow.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="AzureAutoMLFlow" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Azure Auto ML Flow" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_HTTP_Body_def" />
      <string name="ManualTriggerInput_HTTP_Body_1_def" />
      <string name="ManualTriggerInput_HTTP_Body_2_def" />
      <string name="ManualTriggerInput_HTTP_Body_3_def" />
      <string name="ManualTriggerInput_HTTP_Body_4_def" />
      <object name="ManualTriggerInput">
        <property name="HTTP_Body" type="string" />
        <property name="HTTP_Body_1" type="string" />
        <property name="HTTP_Body_2" type="string" />
        <property name="HTTP_Body_3" type="string" />
        <property name="HTTP_Body_4" type="string" />
      </object>
      <string name="ResponseActionOutput_response_def" />
      <object name="ResponseActionOutput">
        <property name="response" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="HTTP_Body" path="/HTTP_Body" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Body_1" path="/HTTP_Body_1" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Body_2" path="/HTTP_Body_2" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Body_3" path="/HTTP_Body_3" type="xs:string" required="true" />
            <param style="plain" name="HTTP_Body_4" path="/HTTP_Body_4" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>