samples/instagram-basic-display/sourcecode/CanvasApps/src/cr715_instagramposts_bc759/pkgs/Wadl/Instagram.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/cr715-5finstagrampost-5f70b18ed495d69cb6" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Defaulttitle" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Default title">Get Instagram posts</doc>
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/cr715-5finstagrampost-5f70b18ed495d69cb6" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetPostsWithFields_responses_default_def_media_type_def" />
      <string name="GetPostsWithFields_responses_default_def_media_url_def" />
      <string name="GetPostsWithFields_responses_default_def_permalink_def" />
      <string name="GetPostsWithFields_responses_default_def_id_def" />
      <object name="GetPostsWithFields_responses_default_def">
        <property name="media_type" type="string" />
        <property name="media_url" type="string" />
        <property name="permalink" type="string" />
        <property name="id" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/cr715-5finstagrampost-5f70b18ed495d69cb6">
    <resource path="/{connectionId}/me/media">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetPostsWithFields" actionName="GetPostsWithFields" siena:isDeprecated="false">
        <doc title="Get posts with fields&#xA;Get the latest 25 posts with associated fields from instagram" />
        <request>
          <param style="query" name="fields" type="xs:string" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetPostsWithFields_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_cr715-5finstagrampost-5f70b18ed495d69cb6" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>