samples/Online-consultation-whatsapp-webex/sourcecode/CanvasApps/src/mr_nhsonlineconsultationsystem_68ccc/pkgs/Wadl/Webex_Create_and_Send_Meeting.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Webex_Create_and_Send_Meeting" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Webex_Create_and_Send_Meeting" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Createameeting_title_def" />
      <string name="ManualTriggerInput_Createameeting_start_def" />
      <string name="ManualTriggerInput_Createameeting_end_def" />
      <string name="ManualTriggerInput_SendaMessage_to_def" />
      <object name="ManualTriggerInput">
        <property name="Createameeting_title" type="string" />
        <property name="Createameeting_start" type="string" />
        <property name="Createameeting_end" type="string" />
        <property name="SendaMessage_to" type="string" />
      </object>
      <string name="ResponseActionOutput_success_def" />
      <object name="ResponseActionOutput">
        <property name="success" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Createameeting_title" path="/Createameeting_title" type="xs:string" required="true" />
            <param style="plain" name="Createameeting_start" path="/Createameeting_start" type="xs:string" required="true" />
            <param style="plain" name="Createameeting_end" path="/Createameeting_end" type="xs:string" required="true" />
            <param style="plain" name="SendaMessage_to" path="/SendaMessage_to" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>