samples/sharepoint-events/sourcecode/pkgs/Wadl/EmailEventAttendees.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="EmailEventAttendees" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Email Event Attendees" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Getattendeesforevent_FilterQuery_def" />
      <integer name="ManualTriggerInput_InitializeEventIdvariable_Value_def" />
      <string name="ManualTriggerInput_Sendemailtoattendees_Body_def" />
      <object name="ManualTriggerInput">
        <property name="Getattendeesforevent_FilterQuery" type="string" />
        <property name="InitializeEventIdvariable_Value" type="integer" />
        <property name="Sendemailtoattendees_Body" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Getattendeesforevent_FilterQuery" path="/Getattendeesforevent_FilterQuery" type="xs:string" required="true" />
            <param style="plain" name="InitializeEventIdvariable_Value" path="/InitializeEventIdvariable_Value" type="xs:long" required="true" />
            <param style="plain" name="Sendemailtoattendees_Body" path="/Sendemailtoattendees_Body" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>