samples/sharepoint-events/sourcecode/pkgs/Wadl/EventRegistration.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="EventRegistration" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Event Registration" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <boolean name="ManualTriggerInput_InitializeIsRegistering_Value_def" />
      <integer name="ManualTriggerInput_InitializeEventID_Value_def" />
      <integer name="ManualTriggerInput_Initializevariable_Value_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Subject_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Starttime_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Endtime_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Body_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Location_def" />
      <object name="ManualTriggerInput">
        <property name="InitializeIsRegistering_Value" type="boolean" />
        <property name="InitializeEventID_Value" type="integer" />
        <property name="Initializevariable_Value" type="integer" />
        <property name="Createevent(V4)_Subject" type="string" />
        <property name="Createevent(V4)_Starttime" type="string" />
        <property name="Createevent(V4)_Endtime" type="string" />
        <property name="Createevent(V4)_Body" type="string" />
        <property name="Createevent(V4)_Location" type="string" />
      </object>
      <number name="ResponseActionOutput_eventregistrationid_def" />
      <object name="ResponseActionOutput">
        <property name="eventregistrationid" type="number" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="InitializeIsRegistering_Value" path="/InitializeIsRegistering_Value" type="xs:boolean" required="true" />
            <param style="plain" name="InitializeEventID_Value" path="/InitializeEventID_Value" type="xs:long" required="true" />
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:long" required="true" />
            <param style="plain" name="Createevent(V4)_Subject" path="/Createevent(V4)_Subject" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Starttime" path="/Createevent(V4)_Starttime" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Endtime" path="/Createevent(V4)_Endtime" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Body" path="/Createevent(V4)_Body" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Location" path="/Createevent(V4)_Location" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>