samples/sharepoint-events/sourcecode/pkgs/Wadl/Uploadeventimage.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Uploadeventimage" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Upload event image" />
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Createimagefile_FileName_def" />
      <string name="ManualTriggerInput_Createimagefile_FileContent_def" />
      <integer name="ManualTriggerInput_SetEventIdvariable_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Createimagefile_FileName" type="string" />
        <property name="Createimagefile_FileContent" type="string" />
        <property name="SetEventIdvariable_Value" type="integer" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Createimagefile_FileName" path="/Createimagefile_FileName" type="xs:string" required="true" />
            <param style="plain" name="Createimagefile_FileContent" path="/Createimagefile_FileContent" type="xs:string" required="true" />
            <param style="plain" name="SetEventIdvariable_Value" path="/SetEventIdvariable_Value" type="xs:long" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>